body{
	
  font-family: Sofia, sans-serif;

	background-color: gray;
}
header{
	background-color: limegreen;
	text-align: center;
}
main img{
	    border-radius: 400px;
    border: 30px solid lime;
    max-height: 100%;
}
main{
	margin: 0 auto;
	padding: 0 20px;
}
p{
	font-size: 50px;
	color: lime;
}
li{
	font-size: 60px;
	color: darkgreen;
}
a{
	font-size: 70px;
	color: darkred;
}
a:hover{
	color: black;
}
footer{
	background-color: salmon;
}